# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtualenv
ml/

# Ignore dataset files
ml-100k/

# Ignore model weights
*.h5
global_model.h5

# Environment variables
.env
